<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>a</title>
    <link rel="stylesheet" href="../static/card.css">
</head>
<body>
    <header>
        <div class="div"></div>
        <div class="el2 logo">Логотип</div>
        <div class="div"></div>
        <div class=""><a href="configure.html" class="configure-btn">Аниме</a></div>
        <div class="div"></div>
        <div class="search-container">
            <input type="text" class="search" placeholder="Поиск">
            <img src="../static/images/loupe.png" alt="Search" class="search-icon" style="opacity: 60%;">
        </div>
        <div class="el1" style="padding-left: 7.5%;"><img src="../static/images/avatar.png" style="width: 40px; height: 40px;" class="avatar"></div>
        <div class="div"></div>
    </header>

    <section>
        <div class="card">
            <div class="a"></div>
            <div class="banner">
                <div class="banner-img"></div>
            </div>
            <div class="content">
                <div class="cElement name"><p>«Бесподобный боевой дух»</p></div>
                <div class="cElement churka-name"><p>Jue Shi Wu Hun</p></div>
                <div class="cElement genres">
                    <div class="genre">Romantic</div>
                    <div class="genre">Adventure</div>
                </div>
                <div class="cElement eps">
                    <p>360 серий</p>
                </div>
                <div class="cElement description">
                    <div class="op">Янь Цинь Юэ защищал свою сестру от темных сил и пострадал не только физически, но и духовно. Теперь он – самый неспособный из школы магов, и ему приходится покинуть заведение. Но юноша не бросает свое дело и берет себе в ученики мальчика, который подает большие надежды. При этом он страдает комплексом неполноценности и не верит в свои силы. Как опытного воина Яня собираются сделать старейшиной, но вовсе не о такой судьбе он мечтает. Его стремление – путешествовать и совершенствоваться. В один прекрасный момент он сумеет вновь использовать магию и восстановит свои силы. Вскоре мастер умирает, и ученик берется охранять его гробницу. Но через некоторое время становится ясно, что смерть была инсценирована. Юному Чэнь Фену придется разгадать немало загадок, а также открыть в себе источник истинной силы. Смотреть все серии подряд «Бесподобный боевой дух» или скачать аниме бесплатно в отличном качестве предлагаем на animakima.ru.</div>
                </div>
            </div>
            <div class="a"></div>
        </div>
    </section>
</body>
</html>