<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Название - смотреть аниме онлайн, лучшие тайтлы на одном сайте, описание, смотреть аниме.">
    <meta name="description" content="Лучший источник для любителей аниме. Мы предлагаем широкий выбор аниме-сериалов и фильмов, обновления ассортимента аниме, обзоры аниме, новые тайтлы, актуальная информация о всех новостях.">
    <title>ElephantCock</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>
<body>
    <!-- ШАПКА -->
    <header class="no-select">
        <div class="el2 logo ass anims">ElephantCock</div>
        <div class=""><a href="configure.html" class="configure-btn anims">Аниме</a></div>
        <div class="search-container">
            <input type="text" class="search" placeholder="" id="searchInput">
            <img src="../static/images/loupe.png" alt="Search" class="search-icon" style="opacity: 60%;" onclick="searchAnime()">
        </div>
        <div class="el1"><img src="../static/images/avatar.png" style="width: 40px; height: 40px;" class="avatar anims"></div>
    </header>

    <!-- ОСНОВНОЙ КОНТЕНТ -->

    <div class="container">
        <div class="item"></div>

        <!-- ФИЛЬТРЫ -->

        <div class="item">
            <div class="block"><div class="block-text">Фильтр</div></div>
            <div class="filter">

                <div class="genre">
                    <div class="genre-btn" id="genre-btn"><div class="genre-svg"><img src="..\static\images/down.png" id="gsp"></div><div class="genre-name">Жанры</div></div>
                    <div class="dropdown hide no-select" id="drop">
                        <div class="opt anims" id="opt">романтика</div>
                        <div class="opt anims" id="opt">полиция</div>
                        <div class="opt anims" id="opt">артхаус</div>
                        <div class="opt anims" id="opt">киберпанк</div>
                        <div class="opt anims" id="opt">ужасы</div>
                        <div class="opt anims" id="opt">космические путешествия</div>
                        <div class="opt anims" id="opt">для детей</div>
                        <div class="opt anims" id="opt">детектив</div>
                        <div class="opt anims" id="opt">исекай</div>
                        <div class="opt anims" id="opt">комедия</div>
                        <div class="opt anims" id="opt">экшн</div>
                        <div class="opt anims" id="opt">музыкальный</div>
                        <div class="opt anims" id="opt">семейный</div>
                        <div class="opt anims" id="opt">гарем</div>
                        <div class="opt anims" id="opt">пародия</div>
                        <div class="opt anims" id="opt">вампиры</div>
                        <div class="opt anims" id="opt">научная фантастика</div>
                        <div class="opt anims" id="opt">кемонобито</div>
                        <div class="opt anims" id="opt">трагедия</div>
                        <div class="opt anims" id="opt">паропанк</div>
                        <div class="opt anims" id="opt">драма</div>
                        <div class="opt anims" id="opt">мистика</div>
                        <div class="opt anims" id="opt">меха</div>
                        <div class="opt anims" id="opt">война</div>
                        <div class="opt anims" id="opt">сказка</div>
                        <div class="opt anims" id="opt">психология</div>
                        <div class="opt anims" id="opt">антропоморфизм</div>
                        <div class="opt anims" id="opt">этти</div>
                        <div class="opt anims" id="opt">боевые искусства</div>
                        <div class="opt anims" id="opt">романтика</div>
                        <div class="opt anims" id="opt">сёнэн</div>
                        <div class="opt anims" id="opt">школа</div>
                        <div class="opt anims" id="opt">повседневность</div>
                        <div class="opt anims" id="opt">фэнтези</div>
                        <div class="opt anims" id="opt">постапокалиптика</div>
                        <div class="opt anims" id="opt">спорт</div>
                        <div class="opt anims" id="opt">триллер</div>
                        <div class="opt anims" id="opt">сёдзё</div>
                        <div class="opt anims" id="opt">исторический</div>
                        <div class="opt anims" id="opt">дзёсэй</div>
                        <div class="opt anims" id="opt">сэйнэн</div>
                        <div class="opt anims" id="opt">приключения</div>
                        <div class="opt anims" id="opt">самурайский боевик</div>
                        <div class="opt anims" id="opt">махо-сёдзё</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item"></div>
        <div class="item">
            <div class="block"><div class="block-text">Список аниме</div></div>
            <div class="list" id="anime-list">
                <!-- Список аниме будет загружаться с помощью JavaScript -->
            </div>
            <!-- Добавляем кнопки для пагинации -->
            <div class="pagination">
                <button id="prev-page">Назад</button>
                <span id="page-number">1</span>
                <button id="next-page">Вперед</button>
            </div>
        </div>
        <div class="item"></div>
    </div>
    
    <!-- FOOTER -->
    <footer>
        <div class="grid-container">
            <div class="a"></div>
            <div class="info">
                <div class="info_name">Информация о нашем сайте</div>
                <div class="info_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, illo? Est numquam optio placeat officia aspernatur debitis qui animi voluptas, earum quisquam, nesciunt harum neque nobis consequuntur asperiores, soluta laborum!</div>
            </div>
            <div class="a"></div>
            <div class="navigation">
                <div class="navigation_name">Меню</div>
                <a class="navigation_button anims">Главная страница</a>
                <a class="navigation_button anims">Аниме</a>
            </div>
            <div class="a"></div>
            <div class="donate">
                <div class="donate_name">Можете поддержать нас сдесь</div>
                <a class="donate_button anims"><img src=""></a>
                <a class="donate_button anims"><img src=""></a>
                <a class="donate_button anims"><img src=""></a>
            </div>
            <div class="a"></div>
            <div class="contact">
                <a class="contact_button anims"><img src="img/a.jpeg"></a>
                <a class="contact_button anims"><img src="img/a.jpeg"></a>
                <a class="contact_button anims"><img src="img/a.jpeg"></a>
            </div>
            <div class="a"></div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='pages.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>