<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adadada</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>
<body>
    <!-- ШАПКА -->
    <header class="no-select">
        <div class="el2 logo ass anims">Логотип</div>
        <div class=""><a href="configure.html" class="configure-btn anims">Аниме</a></div>
        <div class="search-container">
            <input type="text" class="search" placeholder="">
            <img src="../static/images/loupe.png" alt="Search" class="search-icon" style="opacity: 60%;">
        </div>
        <div class="el1"><img src="../static/images/avatar.png" style="width: 40px; height: 40px;" class="avatar anims"></div>
    </header>

    <!-- ОСНОВНОЙ КОНТЕНТ -->

    <div class="container">
        <div class="item"></div>

        <!-- ФИЛЬТРЫ -->

        <div class="item">
            <div class="block"><div class="block-text">Фильтр</div></div>
            <div class="filter">
                <div class="genre">
                    <div class="genre-btn" id="genre-btn"><div class="genre-svg"><img src="..\static\images/down.png" id="gsp"></div><div class="genre-name">Жанры</div></div>
                    <div class="dropdown hide no-select" id="drop">
                        <div class="opt anims" id="opt">Романтика</div>
                        <div class="opt anims" id="opt">Комедия</div>
                        <div class="opt anims" id="opt">Хоррор</div>
                        <div class="opt anims" id="opt">Триллер</div>
                        <div class="opt anims" id="opt">Сёнен</div>
                        <div class="opt anims" id="opt">Сейнен</div>
                        <div class="opt anims" id="opt">Сёдзе</div>
                        <div class="opt anims" id="opt">Спорт</div>
                    </div>
                </div>
                <div class="genre">
                    <div class="genre-btn" id="genre-btn"><div class="genre-svg"><img src="..\static\images/down.png" id="gsp"></div><div class="genre-name">Жанры</div></div>
                    <div class="dropdown hide no-select" id="drop">
                        <div class="opt anims" id="opt">Романтика</div>
                        <div class="opt anims" id="opt">Комедия</div>
                        <div class="opt anims" id="opt">Хоррор</div>
                        <div class="opt anims" id="opt">Триллер</div>
                        <div class="opt anims" id="opt">Сёнен</div>
                        <div class="opt anims" id="opt">Сейнен</div>
                        <div class="opt anims" id="opt">Сёдзе</div>
                        <div class="opt anims" id="opt">Спорт</div>
                    </div>
                </div>
                <div class="genre">
                    <div class="genre-btn" id="genre-btn"><div class="genre-svg"><img src="..\static\images/down.png" id="gsp"></div><div class="genre-name">Жанры</div></div>
                    <div class="dropdown hide no-select" id="drop">
                        <div class="opt anims" id="opt">Романтика</div>
                        <div class="opt anims" id="opt">Комедия</div>
                        <div class="opt anims" id="opt">Хоррор</div>
                        <div class="opt anims" id="opt">Триллер</div>
                        <div class="opt anims" id="opt">Сёнен</div>
                        <div class="opt anims" id="opt">Сейнен</div>
                        <div class="opt anims" id="opt">Сёдзе</div>
                        <div class="opt anims" id="opt">Спорт</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item"></div>
        <div class="item">
            <div class="block"><div class="block-text">Список аниме</div></div>
            <div class="list" id="anime-list">
                <!-- Список аниме будет загружаться с помощью JavaScript -->
            </div>
        </div>
        <div class="item"></div>
    </div>
    
    <script>
        let page = 0; // Счетчик страниц
        const perPage = 10;

        // Подгрузка новых карточек при скролле
        window.addEventListener('scroll', () => {
            if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                loadMoreAnime();
            }
        });

        // Загрузка новых карточек
        function loadMoreAnime() {
            const xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        const data = JSON.parse(xhr.responseText);
                        appendAnimeToPage(data.anime_data);
                        page++;
                    } else {
                        console.error('Error loading anime data:', xhr.status);
                    }
                }
            };
            xhr.open('GET', `/load_more_anime?page=${page}&per_page=${perPage}`, true);
            xhr.send();
        }

        // Добавление на сайт новых карточек
        function appendAnimeToPage(animeData) {
            const animeList = document.getElementById('anime-list');
            animeData.forEach(anime => {
                const newAnimeCard = document.createElement('div');
                newAnimeCard.classList.add('card', 'show', 'anims', 'no-select');
                newAnimeCard.innerHTML = `
                    <div class="picture">
                        <img src="${anime['Image src']}" class="img-banner">
                    </div>
                    <div class="content">
                        <div class="names">
                            <div class="shortName">${anime['Short title']}</div>
                            <div class="name">${anime['Title']}</div>
                        </div>
                        <div class="episodes">${anime['Count episodes']} серий</div>
                        <div class="description">${anime['Description']}</div>
                        <!-- Другие данные о аниме -->
                    </div>
                `;
                animeList.appendChild(newAnimeCard);
            });
        }

        // Загрузка первой порции данных при загрузке страницы
        window.onload = loadMoreAnime;
    </script>

    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>